/* ==========================переменные======================================= */
/*цвет фон */

$bgBody: #d6d2cf;
$bgFooter: url(./img/bg-footer.webp);
$bgBlock: url(./img/about_me/bg_about_me.webp);
$fsTitle: 60px;

// color: $mainColor;
// 	line-height: 1;
// 	font-family: $fontFamily;
// 	font-size: $fontSize;

.b {
    /* Коричневый текст */
    color: #47342a;

    /* Бэграунд блока */
    color: #637573;

    /* Главный фон */
    color: #dddcdb;

    /* Белый текст */
    color: #f5f5f5;


    color: #363636;
    color: #7c685d;
    color: #a0978b;
    color: #809390;

    /* доб цвет фон */
    color: #d6d2cf;
}