/* ============================banner========================================= */

.banner {
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 5px;
    color: #47342a;
    background-color: #d6d2cf;
}