/* =========================portfolio=================================== */
.portfolio {
    &__container {
        color: $brown;
        @include adaptiveValue(margin-top, 90, 44, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);
    }

    &__title {
        font-family: $fontFamilySecondary;
        text-transform: uppercase;
        padding: rem(0) rem(15);
        text-align: center;
        @include adaptiveValue(font-size, $pcSizeTitle, $mobSizeTitle, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);
        @include adaptiveValue(margin-bottom, 80, 30, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0)
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        @include adaptiveValue(gap, 20, 14, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);
    }

    .block-portfolio {
        // margin-bottom: rem(50);
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        @include adaptiveValue(margin-bottom, 50, 20, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);

        &__img-ibg {
            min-height: rem(460);
            min-width: rem(300);
            overflow: hidden;
            /* Скрываем всё за контуром */

            & img {
                transition: 1.7s;
                /* Время эффекта */

                &:hover {
                    transform: scale(1.1);
                    /* Увеличиваем масштаб */
                }
            }
        }

        &__text {
            display: flex;
            align-items: flex-end;
            margin-top: rem(20);
            @include adaptiveValue(margin-top, 20, 16, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);
        }

        &__title {
            padding-right: rem(8);
            color: $brown;
            font-family: $fontFamilySecondary;
            letter-spacing: rem(2.5);
            text-transform: uppercase;
            @include adaptiveValue(font-size, 24, 20, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);

            &:hover {
                transition: 0.3s ease-out;
                color: $silver-gray;
            }
        }

        &__item {
            display: block;
            border: 1px solid $brown;
            color: $brown;
            @include adaptiveValue(height, 24, 20, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);
        }

        &__subtitle {
            padding-left: rem(8);
            letter-spacing: rem(0.9);
            color: $brown;
            text-transform: uppercase;
            @include adaptiveValue(font-size, 20, 16, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);

            &:hover {
                transition: 0.3s ease-out;
                color: $quartz;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include adaptiveValue(margin-top, 40, 20, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);
    }

    &__bottom-text {
        max-width: rem(550);
        letter-spacing: rem(1.5);
        color: $dark-gray;
        text-transform: uppercase;
        text-align: center;
        @include adaptiveValue(font-size, 24, 20, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);
        @include adaptiveValue(margin-bottom, 40, 20, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0);
    }

    &__button {
        display: inline-block;
        border: 1px solid $green-gray;
        border-radius: 1px;
        background-color: $green-gray;
        font-size: rem(28);
        letter-spacing: rem(3);
        padding: rem(14) rem(26) rem(12);
        text-transform: uppercase;
        color: $bgBody;

        &:hover {
            background-color: $bgBody;
            color: $green-gray;
            transition: 0.3s ease-out;
        }
    }
}

// @media (max-width: $tablet) {

//     .portfolio {
//         &__container {
//             max-width: rem(970);
//         }

//         .block-portfolio {
//             margin-bottom: rem(30);
//             flex: 1 1 45%;
//             display: flex;
//             flex-direction: column;

//             &__img-ibg {

//                 min-height: rem(460);
//                 min-width: rem(300);
//                 overflow: hidden;
//                 /* Скрываем всё за контуром */

//                 & img {
//                     transition: 1.7s;
//                     /* Время эффекта */

//                     &:hover {
//                         transform: scale(1.1);
//                         /* Увеличиваем масштаб */
//                     }
//                 }
//             }

//             &__text {
//                 display: flex;
//                 align-items: flex-end;
//                 margin-top: rem(20);
//             }

//             &__title {
//                 padding-right: rem(8);
//                 color: $brown;
//                 font-family: 'Big Shoulders Display', cursive;
//                 font-size: rem(24);
//                 letter-spacing: rem(2.5);
//                 text-transform: uppercase;

//                 &:hover {
//                     transition: 0.3s ease-out;
//                     color: $silver-gray;
//                 }
//             }

//             &__item {
//                 display: block;
//                 border: 1px solid $brown;
//                 height: rem(24);
//                 color: $brown;
//             }

//             &__subtitle {
//                 padding-left: rem(8);
//                 color: $brown;
//                 font-size: rem(20);
//                 letter-spacing: rem(0.9);
//                 text-transform: uppercase;

//                 &:hover {
//                     transition: 0.3s ease-out;
//                     color: $quartz;
//                 }
//             }
//         }
//     }
// }




/* TABLET */

// @media (max-width: $tablet) {

//     .block-portfolio {
//         margin-bottom: rem(50);
//         flex: 0 0 31%;
//         display: flex;
//         flex-direction: column;

//         &__img-ibg {
//             min-height: 360px;
//             overflow: hidden;
//             /* Скрываем всё за контуром */

//             & img {
//                 transition: 1.7s;
//                 /* Время эффекта */

//                 &:hover {
//                     transform: scale(1.1);
//                     /* Увеличиваем масштаб */
//                 }
//             }
//         }

//     }
// }